* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  list-style: none;
}

/* esto es el menu hamburguesa */
.fa-solid {
  font-size: 2rem;
}
.menu-toggle {
  display: none;
}
.toggle {
  display: none;
  text-align: center;
  background-color: #dae8ec;
  margin: 10px auto;
  width: 10vw;
  border-radius: 1rem;
  font-weight: 600;
}
.toggle li {
  display: block;
  padding: 10px 0;
}
.menu-toggle:checked + .toggle {
  display: block;
}
